<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="car" id="car">
            <module name="Nethues_Rentocar" before="Magento_Adminhtml"/>
        </route>


        <!-- <route frontName="vipproduct" id="vipproduct">
            <module name="Nethues_Job" before="Magento_Adminhtml"/>
        </route> -->
    </router>
</config>
