<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="candidate_listing_data_source" xsi:type="string">Operations\Applyjob\Model\ResourceModel\View\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Operations\Applyjob\Model\ResourceModel\View\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">apply_job_table</argument>
            <argument name="resourceModel" xsi:type="string">Operations\Applyjob\Model\ResourceModel\View</argument>
        </arguments>
    </virtualType>
     <preference for="Operations\Applyjob\Api\BlockRepositoryInterface" type="Operations\Applyjob\Model\BlockRepository" />
</config>