<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="candidate_listing_data_source" xsi:type="string">Nethues\Job\Model\ResourceModel\View\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Nethues\Job\Model\ResourceModel\View\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">nethues_job</argument>
            <argument name="resourceModel" xsi:type="string">Nethues\Job\Model\ResourceModel\View</argument>
        </arguments>
    </virtualType>
    <preference for="Nethues\Job\Api\BlockRepositoryInterface" type="Nethues\Job\Model\BlockRepository" />
</config>