<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="candidate_listing_data_source" xsi:type="string">Nethues\Job\Model\ResourceModel\View\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Nethues\Job\Model\ResourceModel\View\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">nethues_job</argument>
            <argument name="resourceModel" xsi:type="string">Nethues\Job\Model\ResourceModel\View</argument>
        </arguments>
    </virtualType>
    <preference for="Nethues\Job\Api\BlockRepositoryInterface" type="Nethues\Job\Model\BlockRepository" />
    <type name="Magento\Newsletter\Model\SubscriptionManager">
        <plugin name="newsletter-update" type="Nethues\Job\Model\SubscriptionManager" sortOrder="1"></plugin>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product-info-override" type="Nethues\Job\Model\Product" sortOrder="1"></plugin>
    </type>    
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="cart-vip-update" type="Nethues\Job\Model\Cart" sortOrder="1"></plugin>
    </type>
    <type name="Magento\Catalog\Ui\Component\Listing\Columns\ProductActions">
        <plugin name="admin-procatalog-update" type="Nethues\Job\Ui\Component\Listing\Columns\ProductActions" sortOrder="1"></plugin>
    </type>
    
   
    
</config>